.cart-content{
 display: flex;
 flex-direction: row;
 background-color: white;
 margin-top:20px;
 height: 100vh; 
 width: 100vw;
}

.h-line{
    width: 100%;
    height: 0.01px;
    background-color: gray;
}

.cart-product-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100vh;
    overflow-y: scroll;
}

.cart-product-list h1{
    padding-left: 40px;
    font-size: 23px;
}

.cart-summary{
    display: flex;
    justify-content: center;
    margin-top:100px;
    min-width: 37%;
}

.cart-summary-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
    border: 0.2px solid grey;
    height: 400px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
}

.cart-summary-product-list{
    max-height: 270px;
    overflow: scroll;
}

.cart-summary-product-list-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01px solid gray;
}


.cart-summary-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.cart-summary-footer-button{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 60px;
    padding: 5px;
    align-items: center;
    background-color: green;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.cart-summary-footer-total i{
    font-size: 12px;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loading-spinner {
    width: 10px;
    height: 10px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid green; /* Black */
    border-radius: 50%;
    animation: spinner 1s linear infinite;
  }