.product-list{
    margin-top: 55px;
    height: 100vh;
    overflow: scroll;
}

.product-tag{
    margin-left:4%;
    font-size: 25px;
}

.product-list-header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.product-filter{
    margin-left: 30px;
    height: 20px;
    padding: 5px;
    width: 80px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.empty-result{
    display: flex;
    align-items: center;
    margin-top:60px;
    justify-content: center;
}

.product-filter-list{
    position: absolute;
    top:35px;
    max-height: 200px;
    overflow: scroll;
}

.product-filter-data{
    padding: 10px 0px 0px 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px solid black;
    background-color: white;
    justify-content: flex-start;
    border-bottom: 0.5px solid black;
    width: 150px;
    cursor: pointer;
}

.product-filter-data:hover{
    background-color: #f1f1f1;
}

.product-filter-data i{
    color: rgb(124, 148, 148);
}

.product-filter-data p{
    margin-left:10px;
}



@media (max-width:600px){
    
}