.product-quantity-button {
  margin-bottom: 8px;
  cursor: pointer;
  background-color: grey;
  color: white;
  border-radius: 2px;
  font-size: 15px;
  width: fit-content;
}

.product-quantity-button-name {
  margin: 5px;
  font-size: 15px;
}

.product-quantity-button-name:hover {
  color: rgb(225, 225, 62);
}

@media (max-width: 600px) {
  .product-quantity-button {
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: none;
  }
}
